  <h1>Listing Users</h1>

  <table>
    <tr>
      <th>User</th>
   </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>
   	   <%= link_to 'Destroy User', [:admin, user],
                method: :delete, 
                data: { confirm: 'Are you sure?' } %>
      </td>
      <%if  user.try(:admin?) %>
           <td><%= link_to 'Disable Admin', [:admin, user],
          method: :patch
          %></td>
      <% else %>
        <td><%= link_to 'Toggle Admin', [:admin, user],
          method: :patch
          %></td>
      <%end%>
      </tr> 
    <% end %>
  </table>
  <%#else%>
  <h1><!--  Access not allowed?--!> </h1>
  <%#end%>

  <%= link_to 'Back', root_path %>


